{% load static %}
<html lang="en">
<head>
     <!-- Favicon -->
     <link href="{% static 'accounts/img/favicon.ico' %}" rel="icon">

     <!-- Google Web Fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 
 
     <!-- Icon Font Stylesheet -->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
 
     <!-- Libraries Stylesheet -->
     <link href="{% static 'accounts/lib/animate/animate.min.css' %}" rel="stylesheet">
     <link href="{% static 'accounts/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
     <link href="{% static 'accounts/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
 
     <!-- Customized Bootstrap Stylesheet -->
     <link href="{% static 'accounts/css/bootstrap.min.css'  %}" rel="stylesheet">
 
     <!-- Template Stylesheet -->
     <link href="{% static  'accounts/css/style.css' %}" rel="stylesheet">
 
     <!-- MFS ajax -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <!-- chart.js -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales</title>

    <style>
       
        #map{
            height: 100%;
            width: 90%;
        }
        .navi{
            height: 900px;
        }
        .fcontainer {
        max-width: 400px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        padding: 20px;
        margin-top: 50px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .barr{
        /* background-color: white; */
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 20px;
        margin-top: 50px;
        box-shadow: 0 0 10px rgba(212, 78, 0, 0.3);
        }
        .chart{
          top: 9000px;
        }

        
    </style>
   
   
</head>
<body>
    {% include 'navbar.html' %}
  
    
   
    {% block content %}
            
    <div class="container-fluid py-5 bg-secondary hero-header mb-5 navi">
        <div class="container my-5 py-5 px-lg-5">
            <div class="row">
                <div class="col-lg-4 text-center text-lg-start">
                    <h1 class="text-white mb-4 animated zoomIn">Sales Plot </h1>
                    <p class="text-white pb-3 animated zoomIn">This is a data visualization tool that generates bar charts representing the total sales of each real estate agent. It provides a visual overview of the sales performance of individual agents in an easily interpretable format.</p>
                        
                    <p>
                        <a class="btn btn-outline-light py-sm-1 px-sm-2 rounded-pill animated slideInRight" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                          Register Sale
                        </a>
                        
                      </p>
                      <div class="collapse" id="collapseExample">
                        
                            <div class="fcontainer">
                                <h3>Plot Sale Registration</h3>
                                <form action="/acc/add-sale/" method="POST">
                                  {% csrf_token %}
                                  <div class="form-group">
                                    <label for="seller">Seller:</label>
                                    <input name="name" type="text" class="form-control" id="seller" placeholder="Enter seller's name">
                                  </div>
                                  <div class="form-group">
                                    <label for="date">Date:</label>
                                    <input name="date" type="date" class="form-control" id="date">
                                  </div>
                                  <div class="form-group">
                                    <label for="price">Price:</label>
                                    <input name="price" type="number" class="form-control" id="price" placeholder="Enter price">
                                  </div>
                                  <div class="form-group">
                                    <label for="sector">Sector:</label>
                                    <input name="sector" type="text" class="form-control" id="sector" placeholder="Enter sector">
                                  </div>
                                  <div class="form-group">
                                    <label for="street">Street:</label>
                                    <input name="street" type="text" class="form-control" id="street" placeholder="Enter street">
                                  </div>
                                  <div class="form-group">
                                    <label for="plotnum">Plot Number:</label>
                                    <input name="plotno" type="text" class="form-control" id="plotnum" placeholder="Enter plot number">
                                    <br>
                                  </div>
                                  <button type="submit" class="btn btn-outline-dark py-sm-1 px-sm-2 rounded-pill animated slideInRight">Submit</button>
                                </form>
                              </div>
                        
                      </div>
                </div> 
                
                <div class="col-lg-8 text-center text-lg-start chart" >
                  <canvas class="barr" id="myChart" ></canvas>
                </div>
              </div>

        </div>     
    </div>
    

    <!-- Chart -->
    
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  {% block script %}   


<script>
  const ctx = document.getElementById('myChart');

new Chart(ctx, {
  type: 'bar',
  data: {
    labels: [{% for sale in sales %} "{{ sale.seller }}", {% endfor %}],
    datasets: [{
      label: 'Total Sale pkr',
      data: [{% for sale in sales %} "{{ sale.total_sales }}", {% endfor %}],
      backgroundColor: 'rgba(212, 78, 0, 0.5)', 
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});
</script>
    {% endblock %}



    <!-- <div id="map" class="container-fluid rounded position-absolute top-90 start-50 translate-middle" style="z-index: 0;"></div> -->



     <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.7/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
    
    

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>

<script>


var map = L.map("map").setView([30, 70], 5);
var osm = L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
  attribution:
    '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);
var baseLayers = {
		"Streets": osm
	};
var control = new L.control.layers(baseLayers).addTo(map);

var pak = L.tileLayer.wms("http://localhost:8080/geoserver/SD_lab/wms", {
        layers: 'SD_lab:PAK_adm3',
        format: 'image/png',
        transparent: true,
        cql_filter: "NAME_3='Lahore'",
        version: '1.1.0'
        //attribution: "states"
    });
    pak.addTo(map);
$.ajax(
  'http://localhost:8080/geoserver/SD_lab/ows?', 
  {
  type: 'GET',
  data: {
      service: 'WFS',
      request: 'GetFeature',
      typename: 'SD_lab:PAK_adm3',
      srsname: 'EPSG:4326',
      outputFormat: 'text/javascript',
      cql_filter: "NAME_1='Punjab'", 
  },
  dataType: 'jsonp',
  jsonpCallback:'callback:handleJson',
  jsonp:'format_options',

 });
 var myStyle = {'color': 'grey'}
function handleJson(data) {
    selectedArea = L.geoJson(data, {
      style: myStyle,
      onEachFeature: function(feature, layer) {
        layer.bindPopup('Distric:' + feature.properties.NAME_3);
      }
    }).addTo(map);  

	control.addOverlay(selectedArea, 'WFS');
	control.addOverlay(pak, 'WMS');
  map.fitBounds(selectedArea.getBounds());
}





map.on("click", function(e){
    var mc=new L.marker([e.latlng.lat,e.latlng.lng]).addTo(map);
    document.getElementById('lat').value = e.latlng.lat.toFixed(4);
    document.getElementById('long').value = e.latlng.lng.toFixed(4);
})
</script>

{% endblock %}